
/* Background image for main body */
.gardenbuddy-main-body{
	/*
		TODO: find appropriate background image 
		background-image:url("images/background.jpg"); 
	*/
}

/* Header for the main page, has a light green background color */
.gardenbuddy-header{
	background-color:lightgreen;
}

/* Logo and slogan for the main page header */
.gardenbuddy-logo{
	color:darkgreen;
	font-weight:bold;
	font-style:italic;
}
.gardenbuddy-slogan{
	color:darkgreen;
	font-weight:bold;
}


img {
	width:100%;
	height: 380px;
}


.navbar {
	/*border-style:solid;
	border-color:green;*/
	margin-bottom:25px;
}


#gardenbuddy-search{
	margin-bottom:25px;
}

.card-header{
	background-color:lightgreen;
	font-weight:bold;
}

#gardenbuddy-search .btn{
	background-color:lightgreen;
}

.fa-search{
	color:black;
}
